<div class="main-container">
  <h1>Your Score</h1>

  <% if @included %>
    <% if @english_word %>
      <p><strong>Congratulations! </strong><span><%= @word %></span><br>
      is a valid English word!</p>
      <p>You got <span><%= @points %></span><strong> points!</strong></p>
    <% else %>
      <p>Sorry but <span><%= @word %></span> does not seem to be a valid English word...</p>
    <% end %>
  <% else %>
    <p>Sorry but <span><%= @word %></span>can't be built out of <%= @letters.join(", ") %></p>
  <% end %>

  <button><%= link_to "Play again!", new_path %></button>
</div>
